services:
  db:
    build: ./mysql
    platform: linux/amd64
    command: --default-authentication-plugin=mysql_native_password
    expose:
      - "3306"
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost","--password=ssti_debug_art_gallery","-u","root"]
      timeout: 1s
      retries: 5
      interval: 10s

  ssti_debug_art_gallery:
    build:
      context: ./app
      args:
        - FLAG
    depends_on:
      db:
        condition: service_healthy                
    ports:
      - 80
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/"]
      timeout: 1s
      retries: 5
      interval: 10s
