services:
  web:
    build: 
      context: ./app
      args:
        - FLAG
    ports:
      - 80
      - 22
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:80/"]
      timeout: 10s
      retries: 15
      interval: 10s
      start_period: 60s
